<h1>Login</h1>

<button
        class="btn btn-primary mb-2"
        (click)="ingresar()">
 Login Google
</button>



<!-- <div class="row justify-content-center" *ngIf="_auth.usuario.uid">
    <div class="col-5">
        <div class="card">
            <img [src]="_auth.usuario.photoUrl"
                 class="card-img-top img-thumbnail img-circle"
                 alt="usuario"/>
            <div class="card-body">
                <h5 class="card-title">{{_auth.usuario.nombre}}</h5>
                <p class="card-text">{{_auth.usuario.uid}}</p>
                <p class="card-text">
                <small class="text-muted">{{_auth.usuario.email}}</small>
                </p>
            </div>
        </div>
    </div>
</div> -->